@charset "UTF-8";

@import "compass/css3/animation";



.main-content {
    background: #009688;
}

md-input-container {

    .md-input {
        color: rgba(255,255,255,0.87);
    }

    .md-errors-spacer {
        min-height: 0;
    }

}

.bottom-sheet-wrapper {
    position: absolute;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

md-bottom-sheet {
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
}
