<div class="bottom-sheet-wrapper">
    <md-bottom-sheet class="md-list" ng-cloak>
        <md-list>
            <md-list-item ng-repeat="item in links">
                <md-button
                    ng-click="onItemClick()"
                    class="md-list-item-content">
                    <a ui-sref="{{item.state}}"
                       ng-attr-href="{{item.url ? item.url : undefined}}"
                       class="md-inline-list-label">
                        {{item.label}}
                    </a>
                </md-button>
            </md-list-item>
        </md-list>
    </md-bottom-sheet>
</div>

